<div class="modal">
    <div class="popup">
        <button class="btn-danger close position-absolute" (click)="togglePopup()">&times;</button>
        <div class="modal-body">
            <h2 class="section-title text-center m-0"><strong>Pasanda</strong></h2>
            <h3 class="text-danger text-center m-0"><strong>$10.00</strong></h3>
            <p class="text-center m-0 w-60 m-auto">Lorem ipsum is dummy text used to print as dummy text.</p>

            <div class="product-variants mt-4">
                <h2 class='section-title'>Choose One</h2>
                <div class="form-group m-0">
                    <input type="radio" class="variant-input" name="variant" id="variant1">
                    <label for="variant1">
                        Chicken
                        <span>$10</span>
                    </label>
                </div>
                <div class="form-group m-0">
                    <input type="radio" class="variant-input" name="variant" id="variant2">
                    <label for="variant2">
                        Chicken
                        <span>$10</span>
                    </label>
                </div>
            </div>

            <button class='btn-danger btn btn-block'>Add to Cart</button>
        </div>
    </div>
</div>