<div class="page-wrapper" id="order_success_page_wraper">
    <div class="container cart-home" id="order_success_page">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 px-0" id="success_box">
                <div>
                    <div class="loading_icon success-popup-message text-center p-4 bg-white bordered-box">
                        <img src="assets/images/unnamed.gif">
                        <h4 class="loading">Ihre Bestellung wird bearbeitet<!-- Your Order being Process --></h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 pr-1" id="checkout">
                <app-your-order></app-your-order>
            </div>
        </div>
    </div>
</div>